body {
    padding: 0px;
    margin: 0;
    background-color: #FFC0CB;
    width: 100%;
}

h1.logo {
    border-radius: 100%;
    border: 1px solid black;
    margin: auto auto 1% auto;
    padding: 2%;
    background-color: #ffa500;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    max-width: 10%;
}

.makeLogos {
    max-width: 5%;
    vertical-align: middle;
}

.main {
    margin: 0px auto;
    text-align: center;
    color: #ffff66;
}

.mainWithSidebar {
    text-align: center;
    margin-left: 8%;
    margin-right: 8%;
    padding: 2%;
}

.flash {
    margin: 0px auto;
    animation: flashing 0.5s infinite;
    color: #ff0000;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}
@keyframes flashing{
    0%{ color: #ff0000; }
    50%{ color: #ff0000; }
    60%{ color: transparent; }
    99%{ color: transparent; }
    100%{ color: #ff0000; }
}

a.button {
    display: block;
    color: #ff0000;
    background-color: #00ff00;
    width: 8%;
    padding: 2%;
    margin: 0px auto;
    border-radius: 5px;
    border: 1px dotted black;
    text-decoration: none;
    font-weight: bold;
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.listings {
    margin: 5% auto auto auto;
    text-align: center;
    color: #0066ff;
}

.listHeader {
    font-family: "Brush Script MT", cursive;
}

.sidenavTop {
    background-color: #000000;
}

.sidenavTop a {
    color: #ffffff;
    font-family: fantasy;
    padding: 5%;
}

.sideHeader {
    color: #000000;
    font-weight: bold;
    font-size: x-large;
    font-family: monospace;
    text-align: center;
}

::-webkit-scrollbar {
    width: 10%;
}

::-webkit-scrollbar-thumb {
    background: #ffff66;
    border: 2px dashed #0066ff;
    border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
    background: #00ff00;
}

.sidenav {
    background-color: #FF5733;
    height: 100%;
    width: 8%;
    position: fixed;
    overflow-x: hidden;
    top: 0;
    left: 0;
    padding: auto 10px auto auto;
}

.sidenav a {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 4% 10% 4% 10%;
    font-size: medium;
    text-decoration: none;
    color: #ffffff;
    display: block;
}


.sidenav a:hover {
    color: #ffff66;
}

.carDisplay {
    width: 32%;
    height: auto;
}

.marketTable {
    margin: 0px auto;
}